<div class="navbar">
  <a href="index.html">Dashboard</a>
  <a href="weight.html">Weight</a>
  <a href="measurements.html">Measurements</a>
  <a href="glp1.html">GLP-1</a>
  <a href="workouts.html">Workouts</a>
  <a href="prs.html">PRs</a>
  <a href="calculations.html">Calculations</a>

  <!-- User selector on the right -->
  <span class="navbar-user">
    <label for="userSelect">User:</label>
    <select id="userSelect"></select>
    <button id="addUserBtn" type="button">+</button>
  </span>
</div>
